<header class="navbar navbar-fixed-top navbar-inverse">

	<div class="container">
	<%= link_to image_tag("logo.png", id: "imglogo"), '/', class: 'navbar-brand' %>

	<%= link_to "sample app", "#", id: "logo" %>
	<nav>
	<ul class="nav navbar-nav navbar-right">
	<li class="aclass"><%= link_to "Home", '#'%></li>
	<li class="aclass"><%= link_to "Help", '#'%></li>
	<li class="aclass"><%= link_to "Log in", '#'%></li>
	</ul>
  </nav>
</div>
</header>