<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  
=======
  <title>SampleApp1</title>
>>>>>>> 958be41fbfac74ae20d882a4e93dbb96c9ee732e
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<%= render 'layouts/header' %>
	
	

<div class="container">
<%= yield %> 

</div>
<%= render 'layouts/footer' %>
=======

<%= yield %>

>>>>>>> 958be41fbfac74ae20d882a4e93dbb96c9ee732e
</body>
</html>
